.login
    display: flex
    justify-content: center
    align-items: center
    min-height: 100vh
    &__text
        font-size: 40px
        color: var(--primary)
        text-transform: uppercase
        font-family: 'Syne Mono', monospace
        letter-spacing: 8px
        padding-bottom: 15px
        color: var(--primary)

    &__form
        max-width: 400px
        border: 1px solid #cecece
        padding: 25px 20px 0px 0px
    &__no-account
        margin-right: 4px
    &__sign-up
        text-align: center
        display: block
        font-weight: 700
        color: #4b4b4b
        &:hover
            color: #1441a1
