.feeds-post
    width: 100%
    border: 1px solid var(--grey-11)
    padding-bottom: 10px
    box-shadow: rgba(0, 0, 0, 0.08) 0px 6px 16px -8px, rgba(0, 0, 0, 0.05) 0px 9px 28px 0px,rgba(0, 0, 0, 0.03) 0px 12px 48px 16px
    border-radius: 8px

    &__text
        padding: 5px 10px 0px 10px

    &__img
        max-height: 800px
        object-fit: contain

.post__user
    display: flex
    justify-content: space-between
    align-items: center
    padding: 10px 15px

    &-avatar
        width: 32px
        height: 32px
        border-radius: 50%

    &-box
        flex: 1
        margin-left: 10px

    &-username
        font-size: 1.4rem
        font-weight: bold
        &:hover
            text-decoration: underline

    &-location
        font-size: 1.3rem
        color: var(--grey-6)

    &-control
        &.--icon
            font-size: 1.5rem
            cursor: pointer

.post-status
    font-size: 1.4rem
    word-break: break-word
    &__username
        font-weight: bold
        margin-right: 5px
        &:hover
            text-decoration: underline

    &__status
        display: inline
.feedPost
    &ShowDetailPost
        color: #707070
        &:hover
            cursor: pointer
