.type-box{
    margin-top: 10px;
    border-top: 1px solid var(--grey-11);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    &__emoji{
        font-size: 2.4rem;
        margin: 15px;
        cursor: pointer;
    }
    &__btn-post{
        background: 0 0;
        color: var(--blue-normal);
        padding: 10px 20px 10px 5px;
        font-weight: 500;
        font-size: 1.5rem;
    }
}

.textarea {
    display: block;
    border: none;
    padding: 0px;
    width: 100%;
    overflow: auto;
    resize: none;
    min-height: 1.8rem;
    max-height: 8.2rem;
    line-height: 1.8rem;
    cursor: text;
    &[contenteditable]:empty::before{
        content: "Add a comment";
        color: var(--grey-9);
    }
    &:focus{
        outline: none;
    }
}

.emoji__box{
    position: relative;
    &-pane{
        position: absolute;
        top: 5px;
        left: 15px;
        transform: translateY(-100%);
    }
}