.follow-card
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 8px
    &__avatar
        &-img
            border-radius: 50%

    &__info
        flex: 1
        font-size: 1.4rem
        padding-left: 10px
        line-height: 20px
        &-username
            font-weight: 700
        &-description
            color: var(--grey-10)
            font-size: 1.3rem
    &__btn
        &-follow
            background-color: white
            font-size: 1.4rem
            color: var(--blue-normal)
            margin-left: 4px
        &-unfollow
            padding: 0px 8px
            height: 30px
            background-color: #fff
            border: 1px solid #c7c7c7
            &.-delete
                padding: 0px 8px
                background-color: #f5f5f5
